/* small screen */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.image {
    max-width: 75%;
    height: auto;
    align-items: center;
    border-radius: 25px;
    margin: auto;
}

.form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    width: 100%;
}

.form h2 {
    color: #06D6A0;
    text-align: center;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #06D6A0;

}

.select_option {
    color: #06D6A0;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #06D6A0;
    color: #fff;
}

.buttonform {
    text-align: center;
}
/* medium screen */
@media (min-width: 768px) {
/*  */
}

/* large screen */
@media (min-width : 992px) {
    .container{
        flex-direction: row;
        
    }

    .left, .right{
        width: 50%;
    }
}